<div class="text-grey mb">
  <% if question.author %>
    <p><%= link_to display_at_sign(question.author), user_path(question.author) %> asks:</p>
  <% else %>
    <p>anonymous user asks:</p>
  <% end %>
</div>

<div class="mb-sm line-break"><%= question.body %></div>

<% if question.answer.present? %>
  <div class="text-dark-red mb-sm">
    <%= question.answer %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <div>
    <% if question.user == current_user %>
      <% edit_icon = (question.answer.present? ? 'pencil' : 'reply') %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: 'Edit question' %>
      <%= button_to fa_icon('trash-o'), question_path(question), method: :delete,
                    title: 'Delete question', form: { data: { turbo_confirm: 'Are you sure?' } } %>
      <% unless question.hidden %>
        <%= button_to fa_icon('eye-slash'), hide_question_path(question), title: 'Hide question',
                      method: :put %>
      <% end %>
    <% end %>
  </div>
</div>
