<div class="container">
  <h2 class="title-lg mb">Question</h2>
  <p class="mb-sm"><%= @question.body %></p>
  <p>user_id: <b><%= @question.user_id %></b></p>


  <div class="mt">
    <%= link_to fa_icon('pencil'), edit_question_path, title: 'Edit question' %>
    <%= button_to fa_icon('trash-o'), question_path(@question), method: :delete,
       title: 'Delete question', form: { data: { turbo_confirm: 'Are you sure?' } } %>
    <% unless @question.hidden %>
      <%= button_to fa_icon('eye-slash'), { action: "hide" }, title: 'Hide question',
      method: :put %>
    <% end %>
  </div>

  <p class="mt"><%= link_to "all questions", "/questions", class: 'button button-main' %></p>
</div>
